.categories-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categories-page h1 {
  font-size: 1.8em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.fetch-categories-button {
  display: block;
  margin: 10px auto 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fetch-categories-button:hover {
  background-color: #45a049;
}

.categories-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgb(108, 108, 108);
}

.categories-table th,
.categories-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  font-size: smaller;
}

.categories-table th {
  background-color: #2e2e2e;
  font-weight: bold;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.category-by-id-page {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.input-container {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
  color: cadetblue;
}

input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.category-details {
  margin-top: 20px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.category-details h2 {
  margin-top: 0;
}

.category-by-id-page p {
  color: black;
}

.category-actions {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.input-container {
  margin-bottom: 20px;
}

.button-container {
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 20px;
}

.create-category {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

textarea {
  width: 96%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.UpdateContainer {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

p.error {
  color: #e74c3c;
}

p.success {
  color: #2ecc71;
}
